<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"
    integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w=="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
    integrity="sha512-+EoPw+Fiwh6eSeRK7zwIKG2MA8i3rV/DGa3tdttQGgWyatG/SkncT53KHQaS5Jh9MNOT3dmFL0FjTY08And/Cw=="
    crossorigin="anonymous" />
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div class="gallery__container">
    <div class="gallery__content">
      <h1>Picza</h1>
      <h2>Pizza pics gallery</h2>
      <div class="gallery__line"></div>
      <div class="gallery__image-container">
        <a href="<%= require('../images/anastasiia-vasileva-IODFFLZyDlI-unsplash.jpg') %>" class="gallery__image-link">
          <img src="<%= require('../images/anastasiia-vasileva-IODFFLZyDlI-unsplash.jpg') %>" alt="pizza pic" class="gallery__image">
        </a>
        <a href="<%= require('../images/chad-montano-MqT0asuoIcU-unsplash.jpg') %>" class="gallery__image-link">
          <img src="<%= require('../images/chad-montano-MqT0asuoIcU-unsplash.jpg') %>" alt="pizza pic" class="gallery__image">
        </a>
        <a href="<%= require('../images/eiliv-sonas-aceron-M-pEl_nv1Q0-unsplash.jpg') %>" class="gallery__image-link">
          <img src="<%= require('../images/eiliv-sonas-aceron-M-pEl_nv1Q0-unsplash.jpg') %>" alt="pizza pic" class="gallery__image">
        </a>
        <a href="<%= require('../images/fallon-travels-W01Qwuhb_l4-unsplash.jpg') %>" class="gallery__image-link">
          <img src="<%= require('../images/fallon-travels-W01Qwuhb_l4-unsplash.jpg') %>" alt="pizza pic" class="gallery__image">
        </a>
        <a href="<%= require('../images/mahyar-motebassem-pGA4zHvpo5E-unsplash.jpg') %>" class="gallery__image-link">
          <img src="<%= require('../images/mahyar-motebassem-pGA4zHvpo5E-unsplash.jpg') %>" alt="pizza pic" class="gallery__image">
        </a>
        <a href="<%= require('../images/nadya-spetnitskaya-z11dSXXlt8c-unsplash.jpg') %>" class="gallery__image-link">
          <img src="<%= require('../images/nadya-spetnitskaya-z11dSXXlt8c-unsplash.jpg') %>" alt="pizza pic" class="gallery__image">
        </a>
        <a href="<%= require('../images/peter-bravo-de-los-rios-OklpRh8-Sns-unsplash.jpg') %>" class="gallery__image-link">
          <img src="<%= require('../images/peter-bravo-de-los-rios-OklpRh8-Sns-unsplash.jpg') %>" alt="pizza pic" class="gallery__image">
        </a>
        <a href="<%= require('../images/roberto-valdivia-rcUw6b4iYe0-unsplash.jpg') %>" class="gallery__image-link">
          <img src="<%= require('../images/roberto-valdivia-rcUw6b4iYe0-unsplash.jpg') %>" alt="pizza pic" class="gallery__image">
        </a>
        <a href="<%= require('../images/saahil-khatkhate-kfDsMDyX1K0-unsplash.jpg') %>" class="gallery__image-link">
          <img src="<%= require('../images/saahil-khatkhate-kfDsMDyX1K0-unsplash.jpg') %>" alt="pizza pic" class="gallery__image">
        </a>
        <a href="<%= require('../images/sahand-hoseini-BMVAYjPf6mU-unsplash.jpg') %>" class="gallery__image-link">
          <img src="<%= require('../images/sahand-hoseini-BMVAYjPf6mU-unsplash.jpg') %>" alt="pizza pic" class="gallery__image">
        </a>
      </div>
    </div>
  </div>
  <script>
    $(".gallery__image-container").magnificPopup({
      delegate: 'a',
      type: 'image',
      gallery: {
        enabled: true
      }
    })
  </script>
</body>
</html>