<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <%= require('html-loader!./assets/navigation.html') %>
  <div class="container">
    <h1>Home Page</h1>
    <h2>This is my home page</h2>
    <h3>Here you can find information about me</h3>
    <h4>Some of the information is really cool</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <img src="<%= require('../images/david-nuescheler-gUBJ9vSlky0-unsplash.jpg') %>" alt="" width="200" height="200">
  </div>
</body>
</html>