@mixin container {
	max-width: 600px;
  
	@media all and (min-width: 656px) {
		padding: 28px;
  }
}

@mixin p {
  font-size: 16px;
  font-size: 16px;
	line-height: 28px;
  padding: 17px;
  margin-bottom: 28px;
}

@mixin title {
	font-size: 42px;
	line-height: 66px;
	margin-bottom: 28px;
}

@mixin h1 {
	font-size: 33px;
	line-height: 53px;
	margin-bottom: 28px;
}

@mixin h2 {
	font-size: 26px;
	line-height: 43px;
	margin-top: 45px;
	margin-bottom: 17px;
}

@mixin h3 {
	font-size: 20px;
	line-height: 34px;
	margin-top: 28px;
	margin-bottom: 11px;
}

@mixin h4 {
	font-size: 16px;
	line-height: 28px;
	font-weight: bold;
	margin-bottom: 7px;
}

@mixin footnotes {
	font-size: 13px;
	line-height: 23px;
	padding-top: 17px;
  border-top: 1px dotted rgba(0,0,0,0.15);
  margin-bottom: 17px;
}